h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
}

.content-pane {
    max-width: 380px;
}

.link-icon {
    width: 1.5rem;
    height: 1.5rem;
}

#links {
    font-size: 1.5rem;
    display: grid;
    row-gap: 1rem;
    column-gap: 0.5rem;
    grid-template-rows: 2rem 2rem 2rem;
    grid-template-columns: 2rem 22rem;
    justify-items: left;
    align-items: center;
}