h2 {
    margin-top: 30px;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 768px) {

    h2 {
        font-size: 1.5rem;
    }

}

#main-content-pane {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
}