:root {
    --header-bg-color: #3a3a3a;
    --header-bg-hover-color: #505050; 
    --main-bg-color: #202020;
    --alt-bg-color: #3a243a;
}

* {
    margin: 0;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

body {
    height: 100vh;
    color: white;
}

header {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 33.33vw);
    justify-items: center;
    background-color: var(--header-bg-color);
    height: 3rem;
    width: 100vw;
}

#header-padding {
    height: 3rem;
}

#nav-home {
    font-size: 1.5rem;
    grid-column: 1 / 1;
}

#nav-bar {
    font-size: 1rem;
    display: flex;
    height: 100%;
    align-items: center;
    gap: 20px;
    grid-column: 2 / 2;
}

a {
    color: white;
    text-decoration: none;
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

a:hover {
    background-color: var(--header-bg-hover-color);
}

main {
    background-color: var(--main-bg-color);
    min-height: 100vh;
}