.about {
    max-width: 50vw;
}

.about p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.about img {
    float: left;
    width: 200px;
    margin-bottom: 5px;
    margin-right: 25px;
    border-radius: 10px;
    box-shadow: black 8px 8px;
}

.about a {
    text-decoration: underline;
}