.sample-project {
    width: 90%;
    max-width: 900px;
    margin-bottom: 50px;
}

.sample-project .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.sample-project h1 {
    text-align: center;
}

.sample-project p {
    margin-bottom: 12px;
    padding-right: 25px;
    text-align: justify;
    font-size: 1.2rem;
}

.sample-project img {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.sample-project .content ul {
    background-color: green;
    border-radius: 10px;
    width: 175px;
    flex-shrink: 0;
    padding: 10px;
    list-style-position: inside;
    box-shadow: black 5px 5px;
    background-color: var(--header-bg-color);
}

.sample-project .content ul h1 {
    margin: 0;
    text-align: left;
    font-size: 1.5rem;
}

.sample-project .content ul hr {
    margin-bottom: 10px;
}

.sample-project .content ul li {
    font-size: 1.1rem;
}

.sample-project .content ul a {
    text-decoration: underline;
}