:root {
    --main-bg-color: #202020;
    --menu-border-color: #606060;
}

* {
    margin: 0;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

body {
    height: 100vh;
    color: white;
}

main {
    background-color: var(--main-bg-color);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: var(--header-bg-hover-color);
}

button {
    color: white;
    background-color: var(--header-bg-color);
    border: none;
}

button:hover {
    background-color: var(--header-bg-hover-color);
}