/*a {
    color: white;
    text-decoration: none;
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 0 10px;
}*/

.blog-list {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    row-gap: 20px;
    padding: 20px;
}

.blog-list-item {
    background-color: var(--header-bg-color);
    padding: 10px 20px;
    border-radius: 10px;
    max-width: 50vw;
    box-shadow: black 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.blog-list-item h1 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    display: inline;
}

.blog-list-item h2 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    display: inline;
    font-style: italic;
    font-weight: normal;
}

.blog-list-item p {
    margin-top: 10px;
    text-align: justify;
}