.article h1 { /* Used for article titles only */
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.article p {
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 1rem;
}