.icon-link-list-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.icon-link-list {
    display: grid;
    row-gap: 1rem;
    column-gap: 0.5rem;
    grid-template-columns: 2rem 22rem;
    grid-auto-rows: 2rem;
    justify-items: left;
    align-items: center;
    font-size: 1.5rem;
}