.link-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 20px;
}

.link-list a {
    background-color: var(--header-bg-color);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: black 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.link-list a:hover {
    background-color: var(--header-bg-hover-color);
}

.link-list a h1 {
    margin: 0;
    font-size: 2rem;
}

.link-list a h2 {
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
}

.link-list a p {
    font-size: 1rem;
    margin-top: 10px;
    text-align: justify;
}