:root {
    --header-height: 3rem;
    --header-bg-color: #3a3a3a;
    --header-bg-hover-color: #505050; 
}

header {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 33.33vw);
    justify-items: center;
    background-color: var(--header-bg-color);
    height: 3rem;
    width: 100vw;
}

.dummy-header {
    height: 3rem;
    background-color: var(--header-bg-color);
}

#nav-home {
    font-size: 1.5rem;
    grid-column: 1 / 1;
}

#nav-bar {
    font-size: 1rem;
    display: flex;
    height: 100%;
    align-items: center;
    gap: 20px;
    grid-column: 2 / 2;
}

header a {
    display: flex;
    align-items: center;
    height: 3rem;
    padding: 0 10px;
    text-decoration: none;
    color: white;
}

header a:hover {
    background-color: var(--header-bg-hover-color);
}

header button {
    font-size: 2rem;
    height: 100%;
    width: 5rem;
}

#button-container {
    grid-column: 3 / 3;
}

#nav-menu-toggle {
    display: none;
}

main {
    min-height: calc(100vh - 3rem);
}

header menu {
    display: none;
    position: fixed;
    width: 50%;
    background-color: var(--header-bg-color);
    border: 1px solid var(--menu-border-color);
    list-style-type: none;
    top: 3rem;
    left: 50%;
    padding: 0;
}

header menu.show {
    display: block;
}

header menu.hide {
    display: none;
}

@media (max-width: 900px) {

    #nav-bar {
        display: none;
    }

    #nav-menu-toggle {
        display: block;
    }

}

@media (min-width: 901px) {

    #nav-menu {
        display: none;
    }

}