header {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 33.33vw);
    justify-items: center;
    background-color: var(--header-bg-color);
    height: 3rem;
    width: 100vw;
}

#header-padding {
    height: 3rem;
}

#nav-home {
    font-size: 1.5rem;
    grid-column: 1 / 1;
}

#nav-bar {
    font-size: 1rem;
    display: flex;
    height: 100%;
    align-items: center;
    gap: 20px;
    grid-column: 2 / 2;
}

a {
    color: white;
    text-decoration: none;
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

a:hover {
    background-color: var(--header-bg-hover-color);
}

button {
    color: white;
    background-color: var(--header-bg-color);
    font-size: 2rem;
    height: 100%;
    width: 5rem;
    border: none;
}

button:hover {
    background-color: var(--header-bg-hover-color);
}

#button-container {
    grid-column: 3 / 3;
}

#nav-menu-toggle {
    display: none;
}

main {
    background-color: var(--main-bg-color);
    min-height: 100vh;
    height: 200vh
}

menu {
    display: none;
    position: fixed;
    width: 50%;
    background-color: var(--header-bg-color);
    border: 1px solid var(--menu-border-color);
    list-style-type: none;
    top: 3rem;
    left: 50%;
    padding: 0;
}

menu.show {
    display: block;
}

menu.hide {
    display: none;
}

@media (max-width: 900px) {

    #nav-bar {
        display: none;
    }

    #nav-menu-toggle {
        display: block;
    }

}

@media (min-width: 901px) {

    #nav-menu {
        display: none;
    }

}