.content-pane {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 900px;
}

.link-list-title {
    font-size: 1.75rem;
    margin-bottom: 20px;
}

.link-list {
    width: 90%;
}

.link-list a p {
    font-size: 1.2rem;
}

#headshot {
    height: 200px;
    border-radius: 10px;
    box-shadow: black 5px 5px;
}

#title {
    margin-bottom: 10px;
}

#subtitle {
    margin-bottom: 20px;
}

#headshot {
    margin-bottom: 20px;
}

#about-link {
    width: 100%;
    text-align: right;
}